nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
  p style="margin-top:20px; margin-left:20px"
    img src="img/c66.svg" width="60px" style="margin-right:20px"
    | bakery microservice demo    